/* .background { */
   /* background-color: green; */
/* } */


.navbar-brand {
    margin: 0px 185px;
}

.navbar-collapse {
    margin: 0px 575px;
}

.nav-item {
    color: green;
}


form,
.head,
.media,
.card-deck  {
    margin: 50px 200px;
}

#exampleInputPassword1 {
    height: 125px;
}


.head {
    padding: 3px;
    border-bottom: 3px solid gold;
    color: darkgray;
}

.card2 {
    height: 50%;
    width: 50%;
    border: 1px solid lightgrey;
    border-radius: .25rem;
    margin-left: 250px;
    
}

.fixed-bottom {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

.card-title {
    padding: 3px;
    text-align: center;
    background-color: rgb(97, 224, 80);
}