

.navbar-brand {
    margin: 0px 185px;
}

.navbar-collapse {
    margin: 0px 350px;
}

.nav-item {
    color: green;
}

.navbar-nav {
    width: 350px;
}


form,
.head,
.media,
.card-deck  {
    margin: 25px 200px;
}

#about-head {
    margin-top: 60px;
}

.head {
    
    margin: 5px 200px;
}

#exampleInputPassword1 {
    height: 125px;
    padding-bottom: 90px;
}

.head {
    padding: 3px;
    border-bottom: 3px solid gold;
    color: darkgray;
}

.card2 {
    height: 50%;
    width: 50%;
    border: 1px solid lightgrey;
    border-radius: .25rem;
    margin-left: 250px;
    
}

.fixed-bottom {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

.card-title {

    text-align: center;
    color: cornflowerblue;
}

#doc-nav {
    padding: 10px;
}
 
.mr-3 {
    margin-top: 7.5px;
}

body, html {
    height: 100%;
  }

  .train-text {
      margin-top: 135px;
  }
/* 
  .gify-text {
      margin-top: 15px;
  } */
  
  .parallax-blue1 {
    /* The image used */
    background-image: url("assets/images/dark-blue.png");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-blue2 {
    /* The image used */
    background-image: url("assets/images/medium-blue2.png");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-blue3 {
    /* The image used */
    background-image: url("assets/images/light-blue3.png");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* .docs-card {
      text-align: center;
      margin-left: 550px;
      background-color: none;
  } */

  /* .who-card {
      height: 279.6px;
      width: 378.2px;
  } */

  .card-body {
      text-align: center;
  }
  .port-title {
      width:100%;
  }
  .repo-link {
      text-decoration: underline;   
  }

  @media screen and (max-width: 980px) {
    .top {
        position: fixed;
        
    }
    #connect {
        padding-left: 435px;
    }

    

    .container {
        position: relative;
        top: 225px;
        width: 70%;
        margin-top: -250px;
        background-color: white;    
        padding-bottom: 3px;
    }

    .cat {
        margin-top: 2px;
        font-size: 10px;
    }
    .name {
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 768px) {
    #top {
        position: fixed;
    }

    #connect {
        padding-left: -35px;
        margin-left: 90px;
    }
    #self {
        width: 200px;
        height: auto;
    }
    .container {
        position: relative;
        top: 175px;
        width: 650px;
        margin-top: -200px;
        background-color: white;    
    }

    
    .content {
        position: relative;
    }

    .cat {
        /* margin-top: 2px; */
        font-size: 15px;
    }

    footer {
        padding: 15px;
        background-color: grey;
        position: fixed;
        bottom: 0px;
    }
}

@media screen and (max-width: 375px) {
    .top {
    /* position: static; */
    margin-left: -310px;
    width: 100%;
    padding: 0px, 0px, 15px, 85px;
    /* padding: 25px; */
    text-align: center;
    font-size: 25px;
    
    }
    
    .navbar-brand {
        margin: 0px 100px;
    }

    form,
    .head,
    .media,
    .card-deck  {
        margin: 7px 10px;
    }
    

    .head {
        padding: 3px;
        border-bottom: 3px solid gold;
        color: darkgray;
        margin: 93px 80px -15px 201px;
    }

    body, html {
        height: 100%;
        margin: 0px 0px 0px -70px;
    }


    #white2 {
        /* position: relative; */
        text-align: center;
        padding-top: 45px;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-right: -140px;
    }

    .card-deck .card {
        margin-bottom: 15px;
        margin: 0px -150px 0px -15px;
    }
    #connect {
        font-size: 20px;
        padding: 20px;
        margin-left: 190px;
        padding-bottom: 10px;
        
    }
   #self {
       width: 500px;
       height: auto;
       margin-bottom: 10px;
   }
    .container {
        position: relative;
        top: 185px;
        width: 525px;
        margin-top: -155px;
        margin-left: -250px;
        /* margin-left: 10px; */
        background-color: white;
}

#head {
    font-size: 30px;
}

.cat {
    margin-top: 1px;
    font-size: 20px;
}
.name {
    margin-bottom: 1px;
}
#nombre {
    padding: 2px;
}

.submit {
z-index: 4;
}

.pro1,
.pro2,
.pro3,
.pro4,
.pro5 {
    width: 88%;
}

.card-text {
    margin-right: 0px;
}

/* .input {
    margin-top: 50px;
} */

}