

.navbar-brand {
    margin: 0px 185px;
}

.navbar-collapse {
    margin: 0px 350px;
}

.nav-item {
    color: green;
}

.navbar-nav {
    width: 350px;
}


form,
.head,
.media,
.card-deck  {
    margin: 25px 200px;
}

#about-head {
    margin-top: 60px;
}

.head {
    
    margin: 5px 200px;
}

#exampleInputPassword1 {
    height: 125px;
    padding-bottom: 90px;
}

.head {
    padding: 3px;
    border-bottom: 3px solid gold;
    color: darkgray;
}

.card2 {
    height: 50%;
    width: 50%;
    border: 1px solid lightgrey;
    border-radius: .25rem;
    margin-left: 250px;
    
}

.fixed-bottom {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

.card-title {

    text-align: center;
    color: cornflowerblue;
}

#doc-nav {
    padding: 10px;
}
 
.mr-3 {
    margin-top: 7.5px;
}

body, html {
    height: 100%;
  }

  .train-text {
      margin-top: 135px;
  }
/* 
  .gify-text {
      margin-top: 15px;
  } */
  
  .parallax-blue1 {
    /* The image used */
    background-image: url("assets/images/dark-blue.png");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-blue2 {
    /* The image used */
    background-image: url("assets/images/medium-blue2.png");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-blue3 {
    /* The image used */
    background-image: url("assets/images/light-blue3.png");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* .docs-card {
      text-align: center;
      margin-left: 550px;
      background-color: none;
  } */

  /* .who-card {
      height: 279.6px;
      width: 378.2px;
  } */

  .card-body {
      text-align: center;
  }
  .port-title {
      width:100%;
  }
  .repo-link {
      text-decoration: underline;   
  }
@media screen and (max-width: 375px) {
    .navbar-brand {
        margin: 0px 95px;
    }
    
    .navbar-collapse {
        margin: 0px 350px;
    }
    
    .nav-item {
        color: green;
    }
    
    .navbar-nav {
        width: 350px;
    }
    
    
    form,
    .head,
    .media,
    .card-deck  {
        margin: 25px 200px;
    }
    
    #about-head {
        margin-top: 60px;
    }
    
    .head {   
        margin: 5px 200px;
    }
    #exampleInputPassword1 {
        height: 125px;
        padding-bottom: 90px;
    }
    #exampleInputMessage {
        height: 125px;
        padding-bottom: 90px;
    }
    .input {
        margin-top: -475px; 
    }
    #emailInput {
        margin: 0px -135px 0px -160px;
    }
    .head {
        padding: 3px;
        border-bottom: 3px solid gold;
        color: darkgray;
        margin: 95px 80px -20px 80px;
    }
    #contactMe {
        margin: 0px -10px 0px 0px;
    }
    .mr-3 {
        margin-top: 7.5px;
        margin: 0px 0px 0px -130px;
    }
    .card2 {
        height: 50%;
        width: 50%;
        border: 1px solid lightgrey;
        border-radius: .25rem;
        margin-left: 250px;
        
    }
    .porthead {
        margin: 0px 101px -1px 100px;
        padding: 3px;
        border-bottom: 3px solid gold;
        color: darkgray;    
    }
    .fixed-bottom {
        background-color: lightgray;
        padding: 10px;
        text-align: center;
        font-size: 10px;
    }
    
    .card-title {
    
        text-align: center;
        color: cornflowerblue;
    }
    
    #doc-nav {
        padding: 10px;
    }
     
    .mr-3 {
        margin-top: 7.5px;
    }
    
    body, html {
        height: 100%;
      }
    
      .train-text {
          margin-top: 135px;
      }
    /* 
      .gify-text {
          margin-top: 15px;
      } */
      
      .parallax-blue1 {
        /* The image used */
        background-image: url("assets/images/dark-blue.png");
      
        /* Full height */
        height: 100%; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
      .parallax-blue2 {
        /* The image used */
        background-image: url("assets/images/medium-blue2.png");
      
        /* Full height */
        height: 100%; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
    
      .parallax-blue3 {
        /* The image used */
        background-image: url("assets/images/light-blue3.png");
      
        /* Full height */
        height: 100%; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
      /* .docs-card {
          text-align: center;
          margin-left: 550px;
          background-color: none;
      } */
    
      /* .who-card {
          height: 279.6px;
          width: 378.2px;
      } */
    
      .card-body {
          text-align: center;
          margin: 0px -150px 0px -150px;
      }
      .port-title {
          width:100%;
      }
      .repo-link {
          text-decoration: underline;   
      }
      .media-body {
        -ms-flex: 1;
        flex: 1;
        margin: 0px -60px 0px -65px;
    }
}